.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.color-div {
  background-color: aqua;
}

.nav-item-vert-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-primary,
.btn-primary:visited {
  background: #4a90e2;
  border-color: #4a90e2;
}

body {
  font-size: 1em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #666666;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: #252525;
  font-weight: 300;
  font-variant-ligatures: common-ligatures;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: #3e3e3e;
  /* opacity: 0.5; */
}

.menu-horizontal {
  font-size: 0.857142857142857em;
  line-height: 2.166666666666667em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.5px;
}
